.bucket {
    position: relative
}

#text {
    z-index: 100;
    color: white;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    width: 100%;
    padding: 0px !important;
}

p {
    word-wrap: break-word;
    max-width: 80%;
}